{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<style>
    p {
    font-size: 30px;
    text-align: center;
    text-justify: inter-word;
    }
    p.textaa{
        color: rgb(0, 140, 255);
    }
</style>

    <div class="container">
    
        <hr><h1 class="text-center">About us</h1>
        <hr>
        <p>Static startup is an online retail service based in Sri Lanka. In 2015 we launched our website to promote our local sellers. But in 2018, we manage to promote our Static Startup brand world widely. We are the most visited website in Sri Lanka in 2019 to 2022 and the most popular brand in Sri Lanka. Static startup will bring you items that you will fall hopelessly in love with, enable you to create your own space, use your hidden talents to create your own looks and collections, share your manifestations with friends to understand that second conclusion, move or be enlivened, and enable you to shop in a way that you feel comfortable.</p>
        <p class="textaa"><b>StaticStartup&trade;</b></p>
        </div>
    
    </div>
    
{% endblock %}